<div class="post">

    <div class="default-box">

        <!-- HEADER -->
        {% include header.html date=include.post.date full_text=include.post.content %}

        <div class="excerpt">

            <a href="{{ site.baseurl }}{{ include.post.url }}" class="default-box">
                <div>

                    <!-- POST IMAGE -->
                    {% assign image = include.post.images[0] %}
                    {% if image %}
                        <div class="crop-height">{% include image.html image=image crop=true %}</div>
                    {% endif %}

                    <!-- POST TITLE -->
                    <h1>{{ include.post.title }}</h1>

                    <!-- POST SUBTITLE -->
                    <h2>{{ include.post.subtitle }}</h2>

                    <!-- POST EXCERPT -->
                    <!-- Get excerpt -->
                    {% if include.post.description %}
                        {% assign description = include.post.description %}
                    {% else %}
                        {% assign description = include.post.content %}
                    {% endif %}
                    <!-- Set word limit -->
                    {% assign maxwords = 20 %}
                    {% assign maxwordscharacters = 140 %}
                    {% assign maxlinesclass = "two-lines" %}
                    <!-- Truncate and 'print' description -->
                    <!--{% assign description = description | strip_html | truncate: maxwordscharacters %}-->
                    {% assign description = description | strip_html | truncatewords: maxwords %}
                    <div class="excerpt-entry {{ maxlinesclass }}">{{ description }}</div>
                    <!-- POST EXCERPT -->

                </div>
            </a>

        </div>

        <div class="read-more">
            <a href="{{ site.baseurl }}{{ include.post.url }}" class="read-more">Read more...</a>
        </div>

        <div class="excerpt-footer">
            <a class="comment-count" href="{{ site.baseurl }}{{ include.post.url }}#disqus_thread">responses</a>
            <!--<a class="excerpt-bottom-right" href=""></a>-->
        </div>

    </div>
</div>