<div id="header-nameandsvgs">

    <div id="header-fullname">
        <a href="/">
            Tomas Pereira de <span id="vasconcelos">Vasconcelos</span>
        </a>
    </div>

    {% include svg-icons.html %}

</div>

<nav>

    <div class="nav-parent">
        <a href="/about/">About</a>
        <div class="nav-child">
            <a href="/education/">Education</a>
        </div>
        <div class="nav-child">
            <a href="/computing-experience/">Computing Experience</a>
        </div>
    </div>

    <div class="nav-parent">
        <a href="/research/">Research</a>
    </div>

    <div class="nav-parent">
        <a href="/projects/">Projects</a>
    </div>

    <div class="nav-parent">
        <a href="/blog/">P=NP</a>
    </div>

</nav>
