<div id="svg-icons">

    {% if site.footer-links.email %}
    <a href="mailto:{{ site.footer-links.email }}">
        <i class="svg-icon email"></i>
    </a>
    {% endif %}


    {% if site.footer-links.github %}
    <a href="{{ site.footer-links.github }}">
        <i class="svg-icon github"></i>
    </a>
    {% endif %}


    {% if site.footer-links.telephone %}
    <a href="tel:{{ site.footer-links.telephone }}">
        <i class="svg-icon phone"></i>
    </a>
    {% endif %}


    {% if site.footer-links.stackoverflow %}
    <a href="{{ site.footer-links.stackoverflow }}">
        <i class="svg-icon stackoverflow"></i>
    </a>
    {% endif %}


    {% if site.footer-links.linkedin %}
    <a href="{{ site.footer-links.linkedin }}">
        <i class="svg-icon linkedin"></i>
    </a>
    {% endif %}


    {% if site.footer-links.instagram %}
    <a href="{{ site.footer-links.instagram }}">
        <i class="svg-icon instagram"></i>
    </a>
    {% endif %}

</div>