.svg-icon {
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
  background-size: $icon-size;

  mask-size: $icon-size;
  -webkit-mask-size: $icon-size;

  background: $lightgray no-repeat;

  vertical-align: middle;
  display: inline-block;

  transition: all 0.1s ease-out;
  &:hover, &:active {
    background-color: $darkgray;
  }

  &.email {
    mask-image: url("/assets/svgs/envelope.svg");
    -webkit-mask-image: url("/assets/svgs/envelope.svg");
  }
  &.github {
    mask-image: url("/assets/svgs/github-logo.svg");
    -webkit-mask-image: url("/assets/svgs/github-logo.svg");
  }
  &.phone {
    mask-image: url("/assets/svgs/phone.svg");
    -webkit-mask-image: url("/assets/svgs/phone.svg");
  }
  &.stackoverflow {
    mask-image: url("/assets/svgs/overflowing-stacked-papers-tray.svg");
    -webkit-mask-image: url("/assets/svgs/overflowing-stacked-papers-tray.svg");
  }
  &.instagram {
    mask-image: url("/assets/svgs/instagram.svg");
    -webkit-mask-image: url("/assets/svgs/instagram.svg");
  }
  &.linkedin {
    mask-image: url("/assets/svgs/linkedin-logo.svg");
    -webkit-mask-image: url("/assets/svgs/linkedin-logo.svg");
  }

  &.mobilemenu {
    $mobilemenu-iconsize: 40px;
    width: $mobilemenu-iconsize;
    height: $mobilemenu-iconsize;
    line-height: $mobilemenu-iconsize;
    background-size: $mobilemenu-iconsize;
    mask-size: $mobilemenu-iconsize;
    -webkit-mask-size: $mobilemenu-iconsize;
    margin: 4px;
    mask-image: url("/assets/svgs/mobilemenu.svg");
    -webkit-mask-image: url("/assets/svgs/mobilemenu.svg");
  }
}
