//
// VARIABLES
//

//
// widths
//
$max_width_max: 1368px;
$max_width_mobile: 700px;

//
// Light
//
$black_plus: #151617;
$black: #222223;
$darkgray: #333334;
$lightgray: #828287;
$white: #ffffff;
$beige: rgb(255, 254, 252);
$gold: #ebbc2f;
$orange: #E9792D;
$blue: #1CA2BB;
$green: #83d259;

//
// DARK COLORS
//
//$black_plus: #151617;
//$black: #222223;
//$darkgray: #333334;
//$lightgray: #cfcfc8;
//$white: #efefe6;
//$gold: #ebbc2f;
//$orange: #f08535;
//$blue: #26bccd;
//$green: #83d259;

//
// DARK COLORS (fake)
//
//$black_plus: #151617;
//$black: #fff;
//$darkgray: #cfcfc8;
//$lightgray: #333334;
//$white: #222223;
//$gold: #ebbc2f;
//$orange: #f08535;
//$blue: #26bccd;
//$green: #83d259;

//
// Fonts
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

@font-face {
  font-family: 'CMU Serif';
  src: url('/assets/fonts/cmunti-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('/assets/fonts/cmunbi-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

$SerifFont: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif; // 400, 700
$SansSerifFont: "Open Sans", sans-serif;
$LOGOFont: "Oswald", "Open Sans", sans-serif;
$CondensedSansSerifFont: "Open Sans Condensed", sans-serif;
$MonospaceFont: Menlo, Monaco, Courier, monospace;
$SansFont-md: 'Raleway', sans-serif;
$MathFont: 'CMU Serif', $SerifFont;


$icon-size: 20px;
$fs_body: 18px;

//
// Mobile breakpoints
//
@mixin mobile {
  @media screen and (max-width: $max_width_mobile) {
    @content;
  }
}

//
// Animation stuff
// (@keyframes)
//

@keyframes cliprotate-in {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  50.01% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes showfixed-in {
  0% {
    opacity: 0;
  }
  49.99% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cliprotate-out {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50.01% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes showfixed-out {
  0% {
    opacity: 1;
  }
  49.99% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hp-welcome-anim {
  0% {
    opacity: 0;
    transform: translateY(128px);
  }
  25% {
    opacity: 0;
    transform: translateY(128px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hp-hellofirstline-anim {
  0% {
    opacity: 0;
    transform: translateY(96px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hp-avatar-anim {
  0% {
    opacity: 0;
    transform: translateY(256px);
  }
  34% {
    opacity: 0;
    transform: translateY(160px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hp-underlines-anim {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}