// ---------------------------------------------------------------------------------------------------------------------
//
// BLOG MARKDOWN STYLE (SCSS)
//
// ---------------------------------------------------------------------------------------------------------------------

article {
  padding-bottom: 25px;
}

.container {
  line-height: $lh_body;
  max-width: $mw_container;
  width: $mw_container;
  padding-right: $plr_container;
  padding-left: $plr_container;
  margin: 0 auto;
  @include mobile {
    max-width: 100vw;
    width: 100vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $SansSerifFont;
  color: $black;
  margin-left: -2.5px;
  font-weight: 700;
}

.md-articletitlesection {
  margin-bottom: $mb_h2;
  margin-top: 0;
}

h1.md-articletitle {
  font-size: $fs_h1;
  line-height: $lh_h1;
  letter-spacing: $ls_h1;
  font-weight: 700;
  margin-top: 0;
  a {
    text-decoration: none;
  }
  @include mobile {
    font-size: calc(#{$mobile_scale_small} * #{$fs_h1});
    line-height: calc(#{$mobile_scale_small} * #{$lh_h1});
    letter-spacing: calc(#{$mobile_scale_mid} * #{$ls_h1});
  }
}

h2.md-articlesubtitle {
  color: $lightgray;
  font-size: $fs_h2;
  line-height: $lh_h2;
  margin-top: $mt_h2;
  letter-spacing: $ls_h2;
  font-weight: 400;
  @include mobile {
    font-size: calc(#{$mobile_scale_big} * #{$fs_h2});
    line-height: calc(#{$mobile_scale_mid} * #{$lh_h2});
    margin-top: calc(#{$mobile_scale_big} * #{$mt_h2});
    margin-bottom: calc(#{$mobile_scale_big} * #{$mb_h2});
    letter-spacing: calc(#{$mobile_scale_small} * #{$ls_h2});
  }
}

h1 {
  font-size: $fs_h3;
  line-height: $lh_h3;
  margin-top: $mt_h3;
  font-weight: 600;
  @include mobile {
    font-size: calc(#{$mobile_scale_mid} * #{$fs_h3});
    line-height: calc(#{$mobile_scale_mid} * #{$lh_h3});
    margin-top: calc(#{$mobile_scale_mid} * #{$mt_h3});
  }
}

h2 {
  font-size: $fs_h4;
  line-height: $lh_h4;
  margin-top: $mt_h4;
  font-weight: 600;
  @include mobile {
    font-size: calc(#{$mobile_scale_mid} * #{$fs_h4});
    line-height: calc(#{$mobile_scale_mid} * #{$lh_h4});
    margin-top: calc(#{$mobile_scale_mid} * #{$mt_h4});
  }
}

a {
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-style: solid;
  cursor: pointer;
}

p {
  margin-top: $mt_p;
  @include mobile {
    margin-top: calc(#{$mobile_scale_mid} * #{$mt_p});
  }
}

li p {
  margin-top: $mt_li_p;
  @include mobile {
    margin-top: calc(#{$mobile_scale_mid} * #{$mt_li_p});
  }
}

// LISTS (uo, ol, li)

ul, ol {
  margin-top: $mt_ul_ol;
  line-height: $lh_ul_ol;
  overflow-wrap: break-word;

  @include mobile {
    margin-top: calc(#{$mobile_scale_mid} * #{$mt_ul_ol});
    line-height: calc(#{$mobile_scale_mid} * #{$lh_ul_ol});
  }
}

ol {
  counter-reset: item;
}

ol ul, ul ol, ul ul, ol ol {
  margin-top: 10px;
}

li {
  list-style-image: none;
  margin-bottom: 14px;
  margin-left: 30px;
  overflow-wrap: break-word;
}

li::before {
  padding-right: $pr_li_before;
  padding-left: 2px;
  white-space: nowrap;

  //
  box-sizing: border-box;
  display: block;
  list-style-image: none;
  margin-left: -30px;
  overflow-wrap: break-word;
  position: absolute;
  text-align: right;
  //

  @include mobile {
    padding-right: calc(#{$mobile_scale_mid} * #{$pr_li_before});
  }
}

li ol > li {
  margin-left: 45px;
}

li ol > li::before {
  margin-left: -45px;
}

li li ol > li {
  margin-left: 61px;
}

li li ol > li::before {
  margin-left: -61px;
}

ul > li::before {
  content: '\2022';
  font-size: $fs_ul_li_before;
  @include mobile {
    font-size: calc(#{$mobile_scale_mid} * #{$fs_ul_li_before});
  }
}

ol > li::before {
  content: counters(item, ".") ".";
  counter-increment: item;
  letter-spacing: 0.5px;
}

em, i {
  font-style: italic;
}

b, strong {
  font-weight: 700
}


img {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.img-include {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    // TODO: make images span the whole width of the screen on mobile mode
    //max-width: 100vw;
    //margin-left: -$pl_container;

    //position: relative;
    //margin-left: auto;
    //margin-right: auto;
    //display: block;
    //left: 50%;
    //transform: translate(-50%, 0);

    //display: block;
    //margin-left: auto;
    //margin-right: auto;
  }
}

figcaption {
  line-height: $lh_figcaption;
  font-size: $fs_figcaption;
  font-family: $SansSerifFont;
  color: $lightgray;
  font-weight: 600;
  display: block;
  overflow-wrap: break-word;
  position: relative;
  text-align: center;
  top: 0;
  //width: calc(0.95 * #{$mw_container});
  //$width_plus: calc(0.025 * #{$mw_container});
  //$left_point_container: calc(50% - 0.5 * #{$mw_container});
  //left: calc(#{$left_point_container} + #{$width_plus});
  @include mobile {
    line-height: calc(#{$mobile_scale_big} * #{$lh_figcaption});
    font-size: calc(#{$mobile_scale_big} * #{$fs_figcaption});
    //width: inherit;
    //left: inherit;
  }
}

hr {
  margin-bottom: $mb_hr;
  margin-top: $mt_hr;
  border-style: none;
  text-align: center;
  height: 0;
  @include mobile {
    margin-bottom: calc(#{$mobile_scale_bigger} * #{$mb_hr});
    margin-top: calc(#{$mobile_scale_bigger} * #{$mt_hr});
  }

}

hr::before {
  font-size: $fs_hr_before;
  letter-spacing: $ls_hr_before;
  margin-left: $ml_hr_before;
  line-height: $lh_hr_before;
  top: $top_hr_before;
  font-weight: 400;
  color: $lightgray;
  content: "...";
  position: relative;
  @include mobile {
    //font-size: calc(#{$mobile_scale_bigger} * #{$fs_hr_before});
    //letter-spacing: calc(#{$mobile_scale_bigger} * #{$ls_hr_before});
    margin-left: calc(#{$mobile_scale_bigger} * #{$ml_hr_before});
    line-height: calc(#{$mobile_scale_bigger} * #{$lh_hr_before});
    top: calc(#{$mobile_scale_bigger} * #{$top_hr_before});
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// inline MathJax
span.MathJax_CHTML {
  margin: 4px;
  @include mobile {
    margin: 3px;
  }
}

// block MathJax
span.MJXc-display {
  display: block;
  text-align: center;
  z-index: 0;
  margin: $mtb_mathjax_display auto;
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 1em;
  overflow: hidden;
  overflow-x: auto;
  //overflow-y: visible; // fix this
  @include mobile {
    margin-bottom: calc(#{$mobile_scale_mid} * #{$mtb_mathjax_display});
    margin-top: calc(#{$mobile_scale_mid} * #{$mtb_mathjax_display});
  }
}

.post-date-time {
  color: $lightgray;
  font-size: 15px;
  font-weight: 400;
  @include mobile {
    font-size: 14px;
  }
}

.tags {
  padding-top: 25px;
  padding-bottom: 25px;

  ul {
    color: rgba(0, 0, 0, 0.84);
    font-feature-settings: "liga";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    list-style-image: none;
    margin: 0;
    padding: 0;

    li::before {
      display: none;
    }

    li {
      background-clip: border-box;
      background-origin: padding-box;
      background-position-x: 0;
      background-position-y: 0;
      background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
      background-size: auto auto;
      border-image-outset: 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-radius: 3px;
      border: none;
      color: rgba(0, 0, 0, 0.64);
      display: inline-block;
      list-style: none;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 5px 10px;
      position: relative;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      &:hover, &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
      a {
        font-family: $SansSerifFont;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 21px;
        cursor: pointer;
        text-decoration: none;
        &:hover, &:active {
          color: $darkgray;
        }
      }
    }
  }
}

blockquote {
  color: $darkgray;
  font-style: italic;
  padding-left: 20px;
  padding-bottom: 2px;
  margin: 29px 0 0 -23px;
  overflow-wrap: break-word;
  border-left: 2.7px solid $black;
}

blockquote blockquote {
  margin-left: 0;
}

div.post-bottom {
  background-color: rgba(0, 0, 0, 0.025);
}

