// ---------------------------------------------------------------------------------------------------------------------
//
// BLOG MARKDOWN VARIABLES
//
// ---------------------------------------------------------------------------------------------------------------------

//
// VARIABLES
//

//
// Fonts
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=latin-ext');
$SerifFont: "Lora", Georgia, Cambria, "Times New Roman", Times, serif; // 400, 700
$SansSerifFont: "Open Sans", sans-serif;
$MonospaceFont: Menlo, Monaco, Courier, monospace;

// Colors
$black: rgba(0, 0, 0, 0.84);
$darkgray: rgba(0, 0, 0, 0.74);
$lightgray: rgba(0, 0, 0, 0.54);

// General
$mw_container: 740px;
$mw_header: 740px;

// font-size
$fs_body: 20px;
$fs_h1: 35px;
$fs_h2: 24px;
$fs_h3: 34px;
$fs_h4: 26px;
$fs_ul_li_before: 18px;
$fs_hr_before: 24px;
$fs_figcaption: 14px;

// letter-spacing
$ls_h1: -1px;
$ls_h2: -0.4px;
$ls_hr_before: 19px;

// line-height
$lh_body: 34px;
$lh_h1: 45px;
$lh_h2: 35px;
$lh_h3: 40px;
$lh_h4: 32px;
$lh_ul_ol: 32px;
$lh_hr_before: 42px;
$lh_figcaption: 24px;
$lh_header: 20px;

// margin
$mt_body: 165px;
$mt_h2: 5px;
$mb_h2: 20px;
$mt_h3: 50px;
$mt_h4: 30px;
$mt_p: 30px;
$mt_li_p: 20px;
$mt_ul_ol: 30px;
$mb_hr: 42px;
$mt_hr: 52px;
$ml_hr_before: 20px;
$mtb_mathjax_display: 20px;

// padding
$plr_container: 20px;
$pr_li_before: 12px;

// list widths compensate
$widthBefore1: 30px;
$widthBefore2: 48px;
$widthBefore3: 65px;
//$widthList0: calc(#{$mw_container} - 2 * #{$plr_container} - #{$ml_ul_ol});
//$widthList1: calc(#{$widthList0} - #{$widthBefore1});
//$widthList2: calc(#{$widthList1} - #{$widthBefore2});
//$widthList3: calc(#{$widthList2} - #{$widthBefore3});

// Others
$top_hr_before: -30px;

// Mobile breakpoints
$mobile_scale_bigger: 0.95;
$mobile_scale_big: 0.9;
$mobile_scale_mid: 0.85;
$mobile_scale_small: 0.8;
$mobile_scale_smaller: 0.75;
@mixin mobile {
  @media screen and (max-width: $mw_header) {
    @content;
  }
}