.custom-header {
    text-align: center;
    padding-right: 0.5em;
}

.custom-header p {
    margin: 0;
}

.custom-header p.hi-im {
    font-size: 2rem;
    font-weight: 700;
}

.custom-header p.hi-welcome {
    font-size: 1rem;
    opacity: 0.9;
}

@media (min-width: 768px) {
    .custom-header {
        padding-right: 1em;
    }

    .custom-header p.hi-im {
        font-size: 3rem;
    }

    .custom-header p.hi-welcome {
        font-size: 1.5rem;
    }
}

p.intro {
    font-size: 0.875rem;
    margin: 1.25em 0 1.75em;
}