@media (min-width: 800px) {
    div.grid-homepage li {
        margin: 0 5px !important;
    }
}

@media (min-width: 850px) {
    div.grid-homepage li {
        margin: 0 10px !important;
    }
}

@media (min-width: 1000px) {
    div.grid-homepage li {
        margin: 0 20px !important;
    }
}

div.grid-professional-experience {
    grid-template-columns: auto auto auto !important;
}

div.grid-professional-experience li {
    margin: 0 !important;
    padding: 12px !important;
    font-size: 15px !important;
    /* Align text in the center (both horizontally and vertically) */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}