---
layout: default
---

<div class="container">
    <article class="post">

        <div class="md-articletitlesection">
            <h1 class="md-articletitle">{{ page.title }}</h1>
            <h2 class="md-articlesubtitle">{{ page.subtitle }}</h2>

            <div class="post-date-time">
                {% assign num_words = content | strip_html | number_of_words %}
                {% assign WPM = 180 %}

                {% if num_words < WPM %}
                    {% assign reading_time = "1" %}
                {% else %}
                    {% assign reading_time = num_words | divided_by:WPM | round %}
                {% endif %}

                {% assign reading_time = reading_time | append: " min read" %}

                {{ page.date | date: "%b %e, %Y" }} &#160;<b>&#183;</b>&#160; {{ reading_time }}
            </div>

        </div>


        <div class="entry">{{ content }}</div>

    </article>

    <div class="tags">

        <ul>
            {% for tag in page.tags %}
                <li>
                    <a href="{{ site.baseurl }}/">
                        {{ tag }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

</div>